<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/tailwindcss/style.css"> -->
    <link rel="stylesheet" href="/static/css/output.css">
</head> 
<body class="text-center">
    <div class="login-container">
        <h2 class="login-title">Login</h2>
        <p class="login-subtitle">Sign in to continue</p>
        <form id="loginForm" action="/login" method="post">
            <div class="input-container">
                <input type="text" name="nick_name" placeholder="Username" required>
            </div>
            <div class="input-container">
                <input type="password" id="password" name="contrasena" placeholder="Password" required>
            </div>
            <div class="input-container">
                 <input type="password" id="confirm-password" name="confirmar_contrasena" placeholder="Confirm Password" required>
            </div>
            <button type="submit" class="login-button">Login</button>
             <a href="/register" class="register-link">
                <input type="button" value="Registrate">
            </a>
        </form>
        <div id="error-message" class="error-message" style="display:none;"></div>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            const password = document.getElementById('password').value.trim();
            const confirmar_password = document.getElementById('confirm-password').value.trim();
            const errorMessage = document.getElementById('error-message');

            if (password !== confirmar_password) {
                errorMessage.textContent = 'Las contraseñas no coinciden.';
                errorMessage.style.display = 'block';
                event.preventDefault(); // Evita que el formulario se envíe
            } else {
                errorMessage.style.display = 'none'; // Oculta el mensaje de error si las contraseñas coinciden
            }
        });
    </script>
</body>
</html>