<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/output.css">
    <script></script>
</head>
<body class="bg-gray-50 mx-auto text-center flex flex-col items-center justify-center h-screen">
    <div class="bg-white shadow-[0_8px_20px_rgba(0,0,0,0.1)] w-md h-auto py-9 rounded-lg">
        <div class="mt-3 mb-8">    
            <h2 class="text-3xl font-medium mb-3">Crea una nueva cuenta</h2>
            <p class="mb-2 opacity-70 text-lg">¿Ya estás registrado?</p>
            <a href="/" class="underline text-green-600 text-base">Login</a>
        </div>
            <form class="flex flex-col items-center space-y-5" id="registerForm" action="/register" method="post">
            <div class="">
                <input class="border border-gray-300 rounded-md p-2 w-2xs
                focus:outline-none focus:ring-2 focus:ring-green-500" 
                type="text" id="nombre" name="nick_name" placeholder="Name" required>
            </div>
            <div class="">
                <input class="border border-gray-300 rounded-md p-2 w-2xs
                focus:outline-none focus:ring-2 focus:ring-green-500" 
                type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="">
                <input class="border border-gray-300 rounded-md p-2 w-2xs  
                focus:outline-none focus:ring-2 focus:ring-green-500" 
                type="password" id="password" name="contrasena" placeholder="Password" required>
            </div>
            <div class="">
                <input class="border border-gray-300 rounded-md p-2 w-2xs
                focus:outline-none focus:ring-2 focus:ring-green-500" 
                type="password" id="confirm-password" name="confirmar_contrasena" placeholder="Confirm Password" required>
            </div>
            <div class="">
                <input class="border border-gray-300 rounded-md p-2 w-2xs
                focus:outline-none focus:ring-2 focus:ring-green-500" 
                type="text" id="grupo" name="grupo" placeholder="Group" required>
            </div>
            <button class="bg-green-600 text-white py-2.5 my-2 rounded-lg
             hover:bg-green-700 cursor-pointer w-sm text-xl" type="submit" class="register-button">Registrar</button>
        </form>
        <div id="error-message" class="error-message text-red-500 font-medium" style="display:none;"></div>
    </div>
    <script src="/static/javascript/register.js"></script>
</body>
</html>